@media only screen and (max-width: 600px) {
  #mainNavigation nav li {
    display: none;
  }
  #mainNavigation nav .label-small {
    display: flex;
    margin-left: auto;

    color: white;
  }
  #mainNavigation nav .label-small svg {
    margin-right: 0;
  }

  #groupStagePage #groupStage {
    grid-template-columns: 1fr;
  }
  #groupStagePage #groupStageMatches {
    width: 90vw;
    margin: 0;
  }
  #groupStagePage #groupStageMatches form {
    justify-content: flex-start;
  }
  #groupStagePage #groupStageMatches .match {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #groupStagePage #groupStageMatches .dash {
    display: none;
  }
  #groupStagePage #groupStageMatches .match .home img {
    order: -1;
  }
  #groupStagePage #groupStageMatches .match .home input {
    margin-left: auto;
  }

  #groupStagePage #groupStageMatches .match .away input {
    order: 3;
    margin-left: auto;
  }
  #groupStagePage #groupStageMatches .match .home {
    justify-content: flex-start;
    margin-bottom: 0.5em;
  }
  #groupStagePage #groupStageMatches .buttons span {
    margin: 0;
    padding: 0;
  }
  #groupStagePage #groupStageMatches .buttons span:hover {
    box-shadow: none;
    background-color: white;
  }

  #groupStagePage #groupStageStandings {
    width: 90vw;
    margin: 0;
  }
  #groupStagePage .standing h3 {
    width: 85vw;
    margin: 0.5em 0;
  }
  #groupStagePage .label-big {
    display: none;
  }
  #groupStagePage .label-small {
    display: block;
  }

  #groupStagePage .standing table {
    grid-template-columns:
      minmax(130px, 3fr) minmax(20px, 1fr) minmax(20px, 1fr) minmax(20px, 1fr)
      minmax(20px, 1fr) minmax(20px, 1fr);
  }
  #groupStagePAge input[type='number'] {
    height: 20px;
  }

  header#roundOf16Navigation {
    /* TODO solve this sub naviagtion  */
    display: none;
  }
  #group-of-16-page #group-of-16-combinations {
    gap: 10px;
    /* width: 90vw; */
  }
  #group-of-16-page #group-of-16-combinations .team-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  #group-of-16-page #group-of-16-combinations #group-winners,
  #group-of-16-page #group-of-16-combinations #group-runners-up {
    display: grid;
    grid-template-columns: 1fr;
  }
  #group-of-16-page #group-of-16-combinations h3 {
    font-size: small;
    height: 20px;
  }
  #group-of-16-page #group-of-16-hypothesis {
    grid-template-columns: 1fr;
  }
  #group-of-16-page #group-of-16-hypothesis table {
    grid-template-columns: 1fr;
  }
  #group-of-16-page #group-of-16-hypothesis table .hypothesis-home {
    justify-content: flex-start;
  }
  #group-of-16-page #group-of-16-hypothesis table .hypothesis-home img {
    order: -1;
  }

  #phoneMainNavigation {
    background-color: #398ab9;
    display: flex;
    padding: 0.2em;
  }
  #phoneMainNavigation nav {
    width: 100%;
  }
  #phoneMainNavigation ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }
  #phoneMainNavigation a {
    background-color: #fff;
    border-radius: 0.5em;
    color: #1c658c;
    padding: 0.5em;
    text-decoration: none;
  }
  #phoneMainNavigation a.active {
    background-color: #1c658c;
    box-shadow: 0 3px 8px hsla(0, 0%, 100%, 0.24);
    color: #eee;
    pointer-events: none;
  }
}
