#groupNavigation {
  padding: 0.2em;
  /* display: flex; */
  display: none;
  background-color: #398ab9;
}
#groupNavigation ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
#groupNavigation nav {
  width: 100%;
}
